<div class="row">
  <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
    <form action="/add_new_category" method="post" class="d-flex justify-content-center" required>
      <label for="new_category">Добавить новую категорию</label>
      <input type="text" name="new_category" placeholder="например, Путешествия" value="{{ new_category }}" class="form-control form-control-lg" />
      <input type="submit" class="btn btn-primary btn-lg ms-3 px-5 text-uppercase mx-3" value="Добавить" />
    </form>
  </div>
</div>
