<div class="row">
  <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
    <form action="/currencies" method="post" class="d-flex justify-content-center" required>
      <label for="new_currency">Название новой валюты</label>
      <input type="text" name="new_currency" placeholder="например, AUD" value="{{ new_currency }}" class="form-control form-control-lg" />
      <input type="submit" class="btn btn-primary btn-lg ms-3 px-5 text-uppercase mx-3" value="Добавить" />
    </form>
  </div>
</div>
