{% extends 'base.html' %}

{% block form_add %}
  {% include 'forms/add_new_expense.html' %}
{% endblock %}

{% block table %}
  <h1>{{ title }}</h1>

  <tbody>
    <tr>
      <th>ID</th>
      <th>Наименование транзакции</th>
      <th>Сумма</th>
      <th>Валюта</th>
      <th>Категория</th>
      <th>Дата транзакции</th>
    </tr>
    {% for expense in expenses %}
      <tr>
        <td>{{ expense[0] }}</td>
        <td>{{ expense[1] }}</td>
        <td>{{ expense[2] }}</td>
        <td>{{ expense[3] }}</td>
        <td>{{ expense[4] }}</td>
        <td>{{ expense[5] }}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}
