{% extends 'base.html' %}

{% block form_add %}
  {% include 'forms/add_new_expense.html' %}
{% endblock %}

{% block table %}
  <h1>{{ title }}</h1>

  <tbody>
    <tr>
      <th>ID</th>
      <th>Наименование транзакции</th>
      <th>Сумма</th>
      <th>Валюта</th>
      <th>Категория</th>
      <th>Дата транзакции</th>
    </tr>
    {% for url in urls %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}
